body{

background:#0b0f19;

color:white;

font-family:Arial;

text-align:center;

}

table{

margin:auto;

border-collapse:collapse;

width:60%;

}

th,td{

border:1px solid #30363d;

padding:10px;

}

th{

background:#161b22;

}

#totalValue{

font-size:40px;

color:#00ffa3;

margin:20px;

}

canvas{

max-width:500px;

margin:auto;

}
